/*
File: Responsive
*/
@media (min-width: 768px) and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
}
@media (max-width: 768px) {
  .side-menu.left {
    margin-left: -100%;
  }
  .content-page {
    margin-left: 0;
  }
  .enlarged .side-menu.left {
    margin-left: 0 !important;
  }
}
@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .content-page {
    margin-left: 0 !important;
  }
  .enlarged .left.side-menu {
    margin-left: -75px;
  }
  .mobile-sidebar {
    left: 0;
  }
  .mobile-content {
    left: 250px;
    right: -250px;
  }
  .wrapper-page {
    width: 90%;
  }
  .navbar-nav .open .dropdown-menu {
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    left: auto;
    position: absolute;
    right: 0;
  }
  #wrapper.enlarged .footer,
  .footer {
    left: 0;
  }
}
@media (max-width: 620px) {
  .topbar-left {
    width: 70px !important;
  }
  .logo {
    display: none;
  }
  .logo-sm {
    display: inline-block;
  }
  .page-header-title {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .side-menu {
    z-index: 10;
  }
  .button-menu-mobile {
    display: block;
  }
}
@media (max-width: 420px) {
  .hide-phone {
    display: none;
  }
}
