{% extends 'base.html' %}

{% block content %}

    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('/static/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">

                        <h1>Bienvenido al Laboratorio Químico</h1>
                        <hr class="small">
                        <span class="subheading">Software de gestión de proyectos y equipos.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} float-message">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <strong>Error: </strong> {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <strong>Info: </strong> {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <strong>Info: </strong> {% endif %}
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <!-- Main Content -->
    <div class="container">
        <div class="row">

        </div>
    </div>
{% endblock %}