.main-container__title-proyectos {
    background-color: transparent;
}

.container .jumbotron .main-container__cards {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
    .container .jumbotron .main-container__cards li.card {
        border: 1px solid #CCC;
        display: inline-block;
        margin: 5px 3px;
        width: 200px !important;
    }

    .container .jumbotron .main-container__cards .card-img-top {
        max-height: 160px;
        max-width: 198px;
    }

    .container .jumbotron .main-container__cards .state {
        font-size: 11px;
    }

    .container .jumbotron .main-container__cards .card-block {
        padding: 0 5px;
    }

    .container .jumbotron .main-container__cards .btn-primary {
        margin: 0 0 5px 0;
    }