{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- inicializar el selector de fechas de JQuery -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#id_fecha_creacion").datepicker();
        });
    </script>


    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <meta charset="UTF-8">
    <title>Buscar protocolos</title>
</head>
<div class="row">
    <div class="col-md-6 col-sm-offset-3">
        <div class="page-header">
            <h2>Buscar Protocolos</h2>
        </div>
    </div>
    {% block content %}
        <div class="row">
            <div class="col-md-6 col-sm-offset-3">
                <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form formProtocolo %}
                    {% buttons %}
                        <input type="submit" value="Buscar" class="btn btn-primary"/>
                        <a href="{% url 'buscarProtocolo' %}" class="btn btn-primary">Cancelar</a>
                    {% endbuttons %}

                </form>
            </div>
        </div>
    {% endblock %}

</div>
</body>
</html>