{% extends 'base.html' %}

    {# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}

    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('/static/img/contact-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Crear Protocolo</h1>
                        <hr class="small">
                        <span class="subheading">Diligencie el formulario para crear un protocolo</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-6 col-sm-offset-3">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}

                    <form method="post" style="width: 80%">
                        {% csrf_token %}
                        {% bootstrap_form form %}


                        {% buttons %}
                            <input type="submit" value="Guardar" class="btn btn-default"/>
                            <input type="button" value="Volver" class="btn btn-default" onClick=" window.location.href='../menuSolicitud' ">
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}